<script lang="ts"></script>

<style>
    div{
        color:red;
    }
</style>

<ul id="myUL">
<li><img src="https://www.tutorialspoint.com/assets/questions/media/426142-1668760872.png" style="width:10px;height:10px;"> youtube
<li><img src="https://www.mmppicture.co.in/wp-content/uploads/2021/03/Facebook-Icon-PNG-36.png" style="width:10px;height:10px;"> facebook
<li><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQ-WnNJYnTo9KxO4_z8Sqx5oS7MZBD5mCf8Q&usqp=CAU" style="width:10px;height:10px;"> instagram
<li><img src="https://www.iconpacks.net/icons/1/free-skype-icon-114-thumb.png" style="width:10px;height:10px;"> skype
<li><img src="https://www.freeiconspng.com/thumbs/discord-icon/silver-discord-token-icon-16.png" style="width:10px;height:10px;"> discord

</ul>
